In [2]:
%matplotlib inline
import pandas as pd

In [3]:
cast = pd.read_csv("C:/Users/onkar/Downloads/cast.csv")
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4   NaN
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

In [4]:
titles = pd.read_csv("C:/Users/onkar/Downloads/titles.csv")
titles.head()

                     title  year
0           The Rising Son  1990
1  The Thousand Plane Raid  1969
2         Crucea de piatra  1993
3                  Country  2000
4               Gaiking II  2011

### How many movies are listed in the titles dataframe?

In [5]:
print("Number of movies listed in Data Frame", titles.shape[0])

Number of movies listed in Data Frame 230621

### What are the earliest two films listed in the titles dataframe?

In [86]:
s_titles = titles.sort_values('year', ascending=True)
s_2 = s_titles.head(2)

In [87]:
print("The earliest two films in titles dataframe are - ", s_2)

The earliest two films in titles dataframe are -                       title  year
176477          Miss Jerry  1894
213694  The Startled Lover  1898

### How many movies have the title "Hamlet"?

In [24]:
titles.isnull().sum()

title    1
year     0
dtype: int64

In [28]:
titles = titles.dropna()

In [30]:
print("No of movies contains Hamlet -",len(titles[titles['title'].str.contains('Hamlet')]))

No of movies contains Hamlet - 54

### How many movies are titled "North by Northwest"?

In [35]:
print("No of movies are titled 'North by Northwest' -",len(titles[titles['title'].str.fullmatch('North by Northwest')]))

No of movies are titled 'North by Northwest' - 1

### When was the first movie titled "Hamlet" made?

In [79]:
earlist_hamlet = titles[titles['title']==  "Hamlet"]
first_hamlet_year = earlist_hamlet['year'].min()

In [80]:
print("the first movie titled 'Hamlet' was made in -", first_hamlet_year)

the first movie titled 'Hamlet' was made in - 1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [55]:
tr = titles[titles['title'] == "Treasure Island"]

In [56]:
tr.sort_values('year')

                  title  year
204540  Treasure Island  1918
50896   Treasure Island  1920
189691  Treasure Island  1934
96259   Treasure Island  1950
59186   Treasure Island  1972
110576  Treasure Island  1973
203909  Treasure Island  1985
178072  Treasure Island  1999

### How many movies were made in the year 1950?

In [65]:
y_1950 = titles[titles['year'] == 1950]

In [64]:
print("There are total",y_1950['title'].nunique(),"movies released in the year 1950")

There are total 1093 movies released in the year 1950

### How many movies were made in the year 1960?

In [66]:
y_1960 = titles[titles['year'] == 1960]

In [68]:
print("There are total",y_1960['title'].nunique(),"movies released in the year 1960")

There are total 1496 movies released in the year 1960

### How many movies were made from 1950 through 1959?

In [75]:
filttered = titles[(titles['year'] >= 1950) & (titles['year']<= 1959)]
no_movies = filttered.shape[0]

In [76]:
print("Number of movies made from 1950 through 1959:",no_movies)

Number of movies made from 1950 through 1959: 12656

### In what years has a movie titled "Batman" been released?

In [91]:
Bat = titles[titles['title'] == 'Batman']
if not Bat.empty:
    batman_years = Bat['year'].tolist()
    print("Movies titled 'Batman' have been released in the following years:", batman_years)
else:
    print("No movies titled 'Batman' found in the dataset.")

Movies titled 'Batman' have been released in the following years: [1989, 1943]

### How many roles were there in the movie "Inception"?

In [92]:
roles_inception = cast[cast['title']== 'Inception']
no_of_roles = roles_inception.shape[0]

In [95]:
print("There are",no_of_roles,"roles in Inception Movie")

There are 77 roles in Inception Movie

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [99]:
roles_inception = cast[cast['title']== 'Inception']
unranked_roles = roles_inception[roles_inception['n'].isna()]
no_of_unranked_roles = unranked_roles.shape[0]

In [100]:
print("There are",no_of_unranked_roles,"unranked roles in Inception Movie")

There are 26 unranked roles in Inception Movie

### But how many roles in the movie "Inception" did receive an "n" value?

In [101]:
n_value_roles = no_of_roles - no_of_unranked_roles

In [103]:
print("Total",n_value_roles,"nos of roles in Inception movie recieved 'n' value")

Total 51 nos of roles in Inception movie recieved 'n' value

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [107]:
n_cast = cast[(cast['title']== 'North by Northwest') & (cast['n'].notna())]
sorted_by_n = n_cast.sort_values('n')

In [110]:
print("the cast of 'North by Northwest' in their correct 'n'-value order")
print(sorted_by_n[['name','character','n']])

the cast of 'North by Northwest' in their correct 'n'-value order
                         name                    character     n
840374             Cary Grant           Roger O. Thornhill   1.0
3361396       Eva Marie Saint                  Eve Kendall   2.0
1404704           James Mason              Phillip Vandamm   3.0
3024085   Jessie Royce Landis              Clara Thornhill   4.0
343701         Leo G. Carroll                The Professor   5.0
2923056  Josephine Hutchinson                Mrs. Townsend   6.0
1634552           Philip Ober              Lester Townsend   7.0
1229083         Martin Landau                      Leonard   8.0
2357939         Adam Williams                     Valerian   9.0
1746383          Edward Platt              Victor Larrabee  10.0
642085      Robert Ellenstein                        Licht  11.0
2212083          Les Tremayne                   Auctioneer  12.0
447893        Philip Coolidge                    Dr. Cross  13.0
1454363         Patrick McVey               Sergeant Flamm  14.0
198496           Edward Binns               Captain Junket  15.0
1334726             Ken Lynch  Charley - Chicago Policeman  16.0

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [115]:
sleuth_cast = cast[(cast['title']== 'Sleuth') & (cast['year']== 1972)]

In [116]:
print("the cast of 'Sleuth' ")
print(sleuth_cast[['name','character']])

the cast of 'Sleuth'
                       name                   character
314691        Michael Caine                 Milo Tindle
360365       Alec Cawthorne           Inspector Doppler
1396572        Teddy Martin      Police Constable Higgs
1412647  John (II) Matthews  Detective Sergeant Tarrant
1644328    Laurence Olivier                 Andrew Wyke
2619278  Eve (III) Channing             Marguerite Wyke

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [118]:
sleuth_cast = cast[(cast['title']== 'Sleuth') & (cast['year']== 2007)]

In [119]:
print("the cast of 'Sleuth' ")
print(sleuth_cast[['name','character','n']])

the cast of 'Sleuth'
                        name          character    n
250297       Kenneth Branagh  Other Man on T.V.  NaN
314692         Michael Caine             Andrew  1.0
360366   Alec (II) Cawthorne  Inspector Doppler  NaN
1246855             Jude Law               Milo  2.0
1741124        Harold Pinter        Man on T.V.  3.0
2619277    Eve (II) Channing    Marguerite Wyke  NaN
3223502    Carmel O'Sullivan             Maggie  NaN

### How many roles were credited in the silent 1921 version of Hamlet?

In [129]:
hamlet_1921_role = cast[(cast['title'] == 'Hamlet') & (cast['year']== 1921)]
num_1921_hamlet_role = hamlet_1921_role.shape[0]

In [130]:
print(num_1921_hamlet_role,"Roles were credite in silent 1921 version of 'Hamlet' ")

9 Roles were credite in silent 1921 version of 'Hamlet'

### How many roles were credited in Branaghâ€™s 1996 Hamlet?

In [132]:
hamlet_1996_role = cast[(cast['title']== 'Hamlet')& cast['year']==1996]
num_1996_hamlet_role = hamlet_1996_role.shape[1]

In [133]:
print(num_1996_hamlet_role,"Roles were credite in silent 1921 version of 'Hamlet' ")

6 Roles were credite in silent 1921 version of 'Hamlet'

### How many "Hamlet" roles have been listed in all film credits through history?

In [137]:
hamlet_role = cast[cast['title']== 'Hamlet']
num_hamlet_role = hamlet_role.shape[0]

In [138]:
print(print("The number of 'Hamlet' roles listed in all film credits through history is,",num_hamlet_role))

The number of 'Hamlet' roles listed in all film credits through history is, 313
None

### How many people have played an "Ophelia"?

In [139]:
ophelia_roles = cast[(cast['title'] == 'Hamlet') & (cast['character'] == 'Ophelia')]
num_actors_ophelia = ophelia_roles['name'].nunique()

In [141]:
print("The number of different people who have played 'Ophelia' in movies titled 'Hamlet' is:",num_actors_ophelia)

The number of different people who have played 'Ophelia' in movies titled 'Hamlet' is: 15

### How many people have played a role called "The Dude"?

In [144]:
the_dude_roles = cast[(cast['character'] == 'The Dude')]
num_actors_the_dude = the_dude_roles['name'].nunique()

In [146]:
print("The number of different people who have played 'The Dude' in movies titled 'Hamlet' is:",num_actors_the_dude)

The number of different people who have played 'The Dude' in movies titled 'Hamlet' is: 18

### How many people have played a role called "The Stranger"?

In [147]:
the_stranger_roles = cast[cast['character']== 'The Stranger']
num_actore_the_stranger = the_stranger_roles['name'].nunique()

In [148]:
print("The number of different people who have played 'The Stranger' in movies titled 'Hamlet' is:",num_actore_the_stranger)

The number of different people who have played 'The Stranger' in movies titled 'Hamlet' is: 197

### How many roles has Sidney Poitier played throughout his career?

In [154]:
roles_sidney = cast[cast['name']== 'Sidney Poitier']
num_of_roles_sidney_poitier = roles_sidney.shape[0]

In [155]:
print(num_of_roles_sidney_poitier, "Roles has Sidney Poitier played throughout his career")

43 Roles has Sidney Poitier played throughout his career

### How many roles has Judi Dench played?

In [156]:
roles_judi_dench = cast[cast['name']== 'Judi Dench']
num_of_roles_judi_dench = roles_judi_dench.shape[0]

In [157]:
print(num_of_roles_judi_dench, "Roles has Judi Dench played throughout his career")

55 Roles has Judi Dench played throughout his career

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [7]:
supporting_roles_in_40s = cast[(cast['name']== 'Cary Grant') &(cast['n']==2) & (cast['year'] >=1940)& (cast['year'] <1950)]
supporting_roles_in_40s = supporting_roles_in_40s.sort_values('year')

In [8]:
print("Supporting roles (n=2) played by Cary Grant in the 1940s, in order by year:")
print(supporting_roles_in_40s[['title','year','character']])

Supporting roles (n=2) played by Cary Grant in the 1940s, in order by year:
                   title  year    character
840371  My Favorite Wife  1940         Nick
840381    Penny Serenade  1941  Roger Adams

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [10]:
leading_roles_in_40s = cast[(cast['name']== 'Cary Grant') &(cast['n']==1) & (cast['year'] >=1940)& (cast['year'] <1950)]
leading_roles_in_40s = leading_roles_in_40s.sort_values('year')

In [11]:
print("Leading roles (n=1) played by Cary Grant in the 1940s, in order by year:")
print(leading_roles_in_40s[['title','year','character']])

Leading roles (n=1) played by Cary Grant in the 1940s, in order by year:
                                       title  year              character
840397               The Howards of Virginia  1940            Matt Howard
840353                       His Girl Friday  1940           Walter Burns
840399                The Philadelphia Story  1940     C. K. Dexter Haven
840386                             Suspicion  1941                Johnnie
840401                  The Talk of the Town  1942           Leopold Dilg
840377                 Once Upon a Honeymoon  1942  Patrick 'Pat' O'Toole
840344                     Destination Tokyo  1943          Capt. Cassidy
840369                             Mr. Lucky  1943              Joe Adams
840370                             Mr. Lucky  1943        Joe Bascopolous
840378                      Once Upon a Time  1944            Jerry Flynn
840336                  Arsenic and Old Lace  1944      Mortimer Brewster
840373             None But the Lonely Heart  1944             Ernie Mott
840372                         Night and Day  1946            Cole Porter
840375                             Notorious  1946                 Devlin
840393      The Bachelor and the Bobby-Soxer  1947            Dick Nugent
840394                     The Bishop's Wife  1947                 Dudley
840368  Mr. Blandings Builds His Dream House  1948          Jim Blandings
840348          Every Girl Should Be Married  1948      Dr. Madison Brown
840357                I Was a Male War Bride  1949  Captain Henri Rochard

### How many roles were available for actors in the 1950s?

In [13]:
no_of_roles = cast[cast['year'] >=1950 & (cast['year'] <1960)]
no_of_roles = no_of_roles.shape[0]

In [14]:
print("The number of roles were available for actors in the 1950s:",no_of_roles)

The number of roles were available for actors in the 1950s: 3611212

### How many roles were available for actresses in the 1950s?

In [25]:
roles_actresses_1950s = cast[(cast['year'] >= 1950) & (cast['year'] < 1960)]

roles_actresses_1950s = roles_actresses_1950s.shape[0]

In [26]:
print("The number of roles were available for actresses in the 1950s:",roles_actresses_1950s) ### not sure about how to filter data according to gender where gender cilumn is not there

The number of roles were available for actresses in the 1950s: 210986

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [29]:
no_of_roles = cast[cast['year']  & (cast['n']==1) & (cast['year'] < 1960)]
no_of_roles = no_of_roles.shape[0]

In [31]:
print("leading roles (n=1) were available from the beginning of film history through 1980 were:",no_of_roles)

leading roles (n=1) were available from the beginning of film history through 1980 were: 19612

### How many non-leading roles were available through from the beginning of film history through 1980?

In [32]:
no_of_roles = cast[cast['year']  & (cast['n']!=1) & (cast['year'] < 1960)]
no_of_roles = no_of_roles.shape[0]

In [33]:
print("How many non-leading roles were available through from the beginning of film history through 1980 were:",no_of_roles)

How many non-leading roles were available through from the beginning of film history through 1980 were: 351887

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [41]:
no_of_roles_minors_80s = cast[(cast['year'] <=1980) & (cast['n'].isna())]
no_of_roles_minors_80s = no_of_roles_minors_80s.shape[0]

In [42]:
print("The number of minor roles through 1980 that did not warrant a numeric 'n' rank is:",no_of_roles_minors_80s)

The number of minor roles through 1980 that did not warrant a numeric 'n' rank is: 438086